<a href="https://colab.research.google.com/github/Chinni-Akanksha01/Python_data-types/blob/main/Python_datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Create a List, tuple and Dictionary with 5 elements in it and how to access few elements based on the index. Try  with different examples

#List
my_list1=[1,2,'Akanksha',4,5]
my_list2=['Akanksha','Akhila','Amith','Archana','Abhi']

print(my_list1)
print(my_list2)
print(my_list1[1])
print(my_list2[1:4:2])

[1, 2, 'Akanksha', 4, 5]
['Akanksha', 'Akhila', 'Amith', 'Archana', 'Abhi']
2
['Akhila', 'Archana']

In [2]:
#Tuple

my_tuple=(10,9,'Apple',88,2)

print(my_tuple)
print(my_tuple[1])
print(my_tuple[1:4:2])

(10, 9, 'Apple', 88, 2)
9
(9, 88)

In [3]:
#Dictionary
employee={

    'emp_Id':1,
    'emp_name':'Shyam',
    'emp_phone_no':9898989090,
    'emp_address':'Hyderabad',
    'emp_phone_no2':8989898080
}
print(employee)
print(employee['emp_address'])
print(employee['emp_phone_no2'])

{'emp_Id': 1, 'emp_name': 'Shyam', 'emp_phone_no': 9898989090, 'emp_address': 'Hyderabad', 'emp_phone_no2': 8989898080}
Hyderabad
8989898080